/* div {
  border: 2px solid;
  margin: 2px;
} */
.cont {
  display: flex;
  border: 2px solid;
  margin: 2px;
  }
.bigbox {
  width: 50%;
  padding: 4px;
}
.element {
  border: 2px solid;
  border-color: gray;
  padding: 2px;
}